html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*Fonts*/

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
}

h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.feature {
margin: 10px;
display: contents;
}

table {
  font-size: 21px;
}

.b4main {
font-weight: 800;
line-height: 175%;
}

.b4sub {
font-weight: 600;
line-height: 100%;
padding-left: 15px;

}

.btn-main {
    margin-left: 4px!important;
    margin-right: 4px!important;
    font-size: 1.1em!important;
}

/*Buttons*/

.four-buttons {
    width: 100%;
}

.btn-lg {
margin: 0 3px 0 3px;
}

button:hover,
button:focus,
button:target{
    background:green;
    color: rgb(255, 255, 255);
}

.active {
    color: #fff;
    background-color: #4CAF50;
}

/*Search field and Dropdown*/ 

.type-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 90%;
  z-index: 1;
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}

#autocomplete {
  width: 100%;
  font-size: 1em;
}

#country {
    width: 100%;
    font-size: 1em;
}

/*Map*/

#map {
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin-top: 8px;
  width: 60%;
}

/*Listing*/

#listing {
  position: absolute;
  font-size: 1.2em;
  width: 40%;
  height: 100%;
  overflow: auto;
  left: 62%;
    margin-top: 6px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}

#findtype {
  font-size: 24px;
}


.placePhoto {
  width: 140px;
  height: 100%;
  margin: 4px;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.typeIcon {
  width: 36px;
  height: 36px;
}

#resultsTable {
  border-collapse: collapse;
  width: 100%;
margin-top: 140px;
}

/*Info card on Map - Google Places*/

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

.iw_photo_image {
  height: 100%;
}

/* Auto complete form */
.pac-container {
    border-color: #aeecff;
    background-color: #dff6ff;
    z-index: 1051 !important;
}

/*To be removed before submission*/

/*.type-search-modal {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 1.5rem;
  line-height: 2;
  padding: 1rem 0 1rem;
}

.what-modal {
    padding-top: 1.1em;
}

.where-modal {
    padding-top: 1.1em;


#autocompleteModal {
width: 500px;
  font-size: 1em;
}


}*/