/*-------------------------------------------------------- General */

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

input:focus, textarea:focus, select:focus{
     outline: none!important;
}

/*-------------------------------------------------------- Fonts */

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
}

h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/*-------------------------------------------------------- Header */

.btb-title {
    font-size: 2.5em;
    padding-top: .76em;
}

@media only screen and (max-width: 500px) {
h1.btb-title {
    font-size: 3em;
    }
}

@media only screen and (max-width: 375px) {
h1.btb-title {
    font-size: 2.25em;
    }
}

@media only screen and (max-width: 300px) {
h1.btb-title {
    font-size: 2em;
    }
}

.feature {
    margin: 10px;
    display: contents;
}

.b4main {
    font-weight: 800;
    line-height: 175%;
}

.b4sub {
    font-weight: 600;
    line-height: 100%;
}

/*-------------------------------------------------------- Modal */

.modal .modal-dialog .modal-title {
    line-height: 1em;
}

.modal .modal-dialog .modal-content {
    border-radius: 3em;
}

.modal-cat-row {
    margin-top: 1em;
}

.modal-cats {
    font-size: 1.5em;
    line-height: 1em;
    padding-top: .3em;
}

@media only screen and (max-width: 500px) {
.modal-cats {
    font-size: 1.25em;
    }
}

@media only screen and (max-width: 400px) {
.modal-cats {
    font-size: 1em;
    }
}

.modal-content {
    padding: 20px;
    margin: 4px;
}

.start {
    font-size: 2em!important;
    padding-top: 20px;
}

/*-------------------------------------------------------- Buttons */

.four-buttons {
    width: 100%;
}

.btn-main {
    margin-left: 4px!important;
    margin-right: 4px!important;
    font-size: 1.1em!important;
}

.btn-lg {
    margin: 0 0px 0 0px;
    min-width: 2em;
    border-radius: 3rem!important;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 360px) {
.btn-lg {
    font-size: .75em!important;
    line-height: 1.3!important;
    }
}   

button {
    width: inherit;
    font-size: 1.25em;
}

button:hover {
    background:#aeecff;
    color: rgb(0, 0, 0);
}

button:focus,
button:target{
    background:#00a223;
    color: rgb(255, 255, 255);
}

.active {
    color: #fff;
    background-color: #00a223;
}

.active-state__buttons-wrapper {
    position: relative;
    margin-top: 1%;
    display: flex;
}

/*-------------------------------------------------------- Search field and Dropdown*/ 

.type-search {
    align-items: center;
    background: #fff;
    display: contents;
    left: 0;
    position: absolute;
    top: 0;
    width: 90%;
    z-index: 1;
    min-height: 4em;
}

#searchfield {
    background-color: #00a223;
}

#locationField {
    flex: 1 1 190px;
    margin: 0 4px;
}

#controls {
    flex: 1 1 140px;
}

#autocomplete {
    width: 90%;
    font-size: 1em;
    min-height: 2.5em;
}

#country {
    width: 90%;
    min-height: 2em;
}

.map-results-content {
    padding-left: 2px;
    padding-right: 2px;
}

/*-------------------------------------------------------- Map */

#map {
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: 8px;
    width: 100%;
}

/*-------------------------------------------------------- Listing */

#listing {
    position: relative;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 6px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

#findtype {
    font-size: 24px;
}

.placePhoto {
    width: 140px;
    height: 100%;
    margin: 4px;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.typeIcon {
    width: 36px;
    height: 36px;
}

#resultsTable {
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

.listing .tbody {
    padding: .8em;
}

.welcome {
    position: relative;
    padding: .8em;
}

.search-tip {
    position: relative;
    margin-top: 1em;
}

/*-------------------------------------------------------- Info card on Map - Google Places*/

#rating {
    font-size: 13px;
    font-family: "Arial Unicode MS";
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

.iw_photo_image {
    height: 100%;
}

/*-------------------------------------------------------- Auto complete form */
.pac-container {
    border-color: #aeecff;
    background-color: #dff6ff;
    z-index: 1051 !important;
}

/*-------------------------------------------------------- Footer */

.footer {
    padding: 2em 0 3em;
    background-color: #00a223;
    color: #fff;
}

.footer-icon {
    padding: .1em .3em .1em .3em;
    color: #fff;
}
